 


<div style='display:none'>
  <div id='subscribe_popup'>
    <p class="box-title">{{ settings.signup-text }}<p>
    <!-- BEGIN #subs-container -->
    <div id="subs-container" class="clearfix">
      <div id="mc_embed_signup">
        <form action="{{ settings.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"><input value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="ENTER YOUR EMAIL ADDRESS" required="" type="email"><input value="JOIN" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit"></form>
      </div>  
    </div>
  </div>
</div>






        